/* CSS declarations go here */

html, body {
  height: 100%;
}
#main {
  height: 100%;
}

.equithon-logo {
  height: 100px;
  width: auto;

  margin: 0 auto;
}

#app {
  height: 100%;
  width: 100%;
}


#app-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(10, 500px, [row-start]);
  padding-top: 110px
}
.app-body-cell {
  display: inline;
}
