ion-app.cameraView, ion-app.cameraView ion-content, ion-app.cameraView .nav-decor {
    background: transparent none !important; 
}

.content-button {
    width: 100%;
}

#open-scanner {
    margin-top: 200px;
}

