ion-app.cameraView, ion-app.cameraView ion-content, ion-app.cameraView .nav-decor {
    background: transparent none !important; 
}

.content-button {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

#open-scanner {
    margin-top: 200px;
}

#manual-query-field {
    width: 50%;
    width: 50%;
    margin: 10% 25% 0% 25%;
}

