<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Directory of Users</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  this is where the directory would go
  <ion-list>
    <button ion-item *ngFor="let attendee of attendees" (click)="this.detail.showDetail({type: 'user', view: 2, info: attendee})">
      {{attendee._id}} <span *ngIf="attendee.emails">(logged in)</span>
    </button>
  </ion-list>
</ion-content>
