page-profile {

}

.img-round {
    border-radius: 50%;
    object-fit: cover;
    
    
}

.img-large {
    width: 150px;
    height: 150px;
}

.badge {
    width: 40px;
    height: 40px;
}

#user-info {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    text-align: center;
    #profile-avatar {
        border: solid 10px rgba(216, 216, 216, 0.9);
        margin-bottom: 20px;
    }
    ion-select {
        max-width: 100% !important;
    }

}


