<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="loggedin" id="user-info">
    <!--

      this stuff is all for visual appeal, useless for now
    
    <img src="assets/avatar_test.png" id="profile-avatar" class="img-round img-large"> <br>
    current user's email: {{loggedin.emails[0].address}} <br>
    <ion-item>
      Location:
      <ion-select [(ngModel)]="testselect">
        <ion-option *ngFor="let evnt of events; let i=index" [value]="i">{{evnt.name}}</ion-option>
      </ion-select>
    </ion-item>
    <img src="assets/badge-registration_role.png" class="img-round badge">
    -->
    current user id: {{loggedin._id}} <br>
    current user role: {{loggedin.role}} <br>
    current user location id: {{loggedin.scanInfo.atEvent}} <br>
    <ion-item>  
      <ion-select [(ngModel)]="loggedin.scanInfo.atEvent" (ngModelChange)="auth.updateCheckIn(this.loggedin.scanInfo.atEvent)">
        <ion-option *ngFor="let evnt of events" [value]="evnt._id">{{evnt.name}}</ion-option>
      </ion-select>
    </ion-item>
  </div>
  
</ion-content>
