files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/55npm_install.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      # Custom npm install to work with Meteor/s build command
      export USER=root
      export HOME=/tmp
      export NODE_PATH=`ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin
      echo "------------------------------ — Installing NPM modules for Meteor  — -----------------------------------"
      OUT=$([ -d "/tmp/deployment/application" ] && cd /tmp/deployment/application/programs/server && $NODE_PATH/npm install --production) || error_exit "Failed to run npm install.  $OUT" $?
      echo $OUT
