// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
#loggedInView, #loggedOutView {
    .menu-inner > :nth-child(2) {
        margin-top: $navbar-ios-height + 12px;
        
    }   
}

ion-navbar {
    color: primary;
}

#organizer-view {
    display: none;
}

#profile-div {
    padding-top: 20px;
    padding-bottom: 60px;
    #profile-pic {
        border: solid 4px rgba(216, 216, 216, 0.9);
        margin-left: 15px;
        margin-right: 15px;
        width: 75px;
        height: 75px;
    }

    #profile-details {
        h2 {
            margin-top: 4px;
            margin-bottom: 0px;
            
        }
        #profile-special {
            padding-top: 5px;
        }
        #badgesIcon{
            padding-left: 5px;
        }
    }

    
}

.img-round {
    border-radius: 50%;
    object-fit: cover;
}

.inner-left {
    float: left;
}

